@model FilmDetailsViewModel

@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = $"Details | {Model.Title}";
}

<div class="row justify-content-center">
    <div class="col-6">
        <h1 class="display-4">@Model.Title</h1>
    </div>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col-6">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61OU8oLWtiL._AC_SL1068_.jpg" alt="@Model.Title poster" width="256" />
    </div>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col-6">
        <p class="text-muted">
            @Model.Description
        </p>
        <dl>
            <dt>Director</dt>
            <dd class="font-italic text-capitalize">@Model.Director</dd>
        </dl>
    </div>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col-auto">
        <a asp-action="Index" class="btn btn-outline-danger">Back to List</a>
        @if ((await AuthorizationService.AuthorizeAsync(User, Model.Id, "IsOwner")).Succeeded)
        {
            <a asp-action="Edit" class="btn btn-outline-primary">Edit</a>            
        }
    </div>
</div>
