@model ItemsPage<FilmViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-md-center">  
    <small class="text-muted">
        <em>Welcome in our films catalog</em>
    </small>
</h1>

<p class="text-md-center">
    @if(User.Identity.IsAuthenticated)
    {
        <a class="btn btn-outline-success" asp-action="Create">Create New</a>
    }
    else
    {
        <em class="text-danger lead">Sign-In to add films to the catalog!</em>
    }
</p>
<table class="table table-hover text-md-center table-responsive-md">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Year
            </th>
            <th>
                Director
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr class="justify-content-lg-start">
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
            </td>
            <td>
                @item.Year
            </td>
            <td>
                @item.Director
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">

            </td>
        </tr>
    </tfoot>
</table>
